.apply-dashed {
    border: dashed;
}

.ux-btn {
    height: 15vh;
    width: 195px;
    font-size: 24px !important;
    font-weight: 700 !important;
    white-space: normal;
    line-height: inherit;
    img {
        max-width: 100%;
        max-height: 100%;
    }
    &[disabled] {
        color: #CCC;
    }
    &.active {
        color: white;
        background: linear-gradient(to right, #0097d7, #00baee);
    }
}